.home {
  background-image: url('https://ember.com/cdn/shop/files/230914_launch_WebBanner-Desktop_2048x.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw; /* Ancho del viewport */
  height: 100vh; /* Alto del viewport */
}
